fieldset{
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(164, 238, 238);
    border: none;
}

h3{
    text-align: center;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-top: 25px;
    margin-right: 5px;
}

.form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    
    }

    .bio{
         
        margin-top: 10px;

    }